services:
  mongo:
    image: mongo:7
    container_name: task_manager_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
    container_name: task_manager_backend
    environment:
      PORT: "5001"
      MONGO_URI: "mongodb://mongo:27017/task_manager"
      JWT_SECRET: "change_this_secret_in_production_2026"
      JWT_EXPIRES_IN: "7d"
    ports:
      - "5001:5001"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
    container_name: task_manager_frontend
    environment:
      VITE_API_URL: "http://localhost:5001/api/v1"
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo_data:
